apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: diploma
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/sojasac/DevOps_2025_Diploma.git
    targetRevision: HEAD
    path: k8s                  # ← сюда смотрит ArgoCD
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
